#BarChart {
    max-height: 300px;
    max-width: 600px;
}

#PolarChart {
    /* impportant 안넣으면 왠진 모르겠는데 사이즈 조절이 안됨;; */
    height: 600px !important;
    width: 600px !important;
}

#DoughnutChart {
    height: 600px !important;
    width: 600px !important;
}