body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  position: relative;
  margin: 20px 0;
  width: 300px;
}

input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #3498db;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  outline: none;
}

label {
  position: absolute;
  left: 12px;
  top: 12px;
  background: #111;
  padding: 0 4px;
  color: #3498db;
  transition: 0.3s;
  pointer-events: none;
}

/* label 위로 올리기 */
input:focus + label,
input:valid + label {
  top: -10px;
  font-size: 12px;
}
