@charset "UTF-8";
/*  */
/* 디자인용 폰트 추가_240529 */
@font-face {
    font-family: 'gmarket';
    font-weight: lighter;
    font-display: swap;
    src: url('../fonts/Gmarket/SansLight.woff2') format('woff2'), 
        url('../fonts/Gmarket/GmarketSansLight.woff') format('woff');
}
@font-face {
    font-family: 'gmarket';
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Gmarket/GmarketSansMedium.woff2') format('woff2'), 
        url('../fonts/Gmarket/GmarketSansMedium.woff') format('woff');
}
@font-face {
    font-family: 'gmarket';
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Gmarket/GmarketSansBold.woff2') format('woff2'), 
        url('../fonts/Gmarket/GmarketSansBold.woff') format('woff');
}

/* =======================================================================================
class player layout
======================================================================================= */
.learn_top {display: flex; justify-content: space-between; align-items: center; padding-bottom: 1rem;}
.learn_top ul.right_state {}
.learn_top ul.right_state li {display: inline-block; margin-left: 1.5rem; padding-left: 2.5rem; font-size: 1.5rem; color: #80848A;}
.learn_top ul.right_state li:last-child {padding-right: 0;}
.learn_top ul.right_state li.step01 {}
.learn_top ul.right_state li.step01 {background: url(../img/class/icon_learn_step1.svg) 0 0/contain no-repeat;}
.learn_top ul.right_state li.step02 {background: url(../img/class/icon_learn_step2.svg) 0 0/contain no-repeat;}
.learn_top ul.right_state li.step03 {background: url(../img/class/icon_learn_step3.svg) 0 0/contain no-repeat;}
.prog_rate {flex: 1;}
.prog_rate ul {margin-right: 7rem; }
.prog_rate ul li {display: flex; align-items: center; margin-bottom: 1.5rem;}
.prog_rate ul li:last-child {margin-bottom: 0;}
.prog_rate ul li .header {margin-right: 1rem; color: #80848A;}
.prog_rate ul li .meta {margin-right: 2rem; font-weight: 700;}
.prog_rate ul li .progress {height: 1.25rem; border-radius: 5rem; background: #D2D6DA; flex: 1; overflow: hidden;}
.prog_rate ul li .progress .bar {float: left; height: 100%; border-radius: 5rem;}
.prog_rate ul li .progress .bar.red_type {background: linear-gradient(90deg, rgba(245,171,225,1) 0%, rgba(239,105,217,1) 100%);}
.prog_rate ul li .progress .bar.blue_type {background: linear-gradient(90deg, rgba(123,203,239,1) 0%, rgba(43,152,200,1) 100%);}
.table_list {color: #666; border-top: 2px solid #222;}
.table_list ul.list {display: flex; border-bottom: 1px solid #e8e8e8;}
.table_list ul.list > li {display: flex; align-items: center; padding: 1.5rem 1.25rem; border-right: 1px solid #e8e8e8;}
.table_list ul.list > li.head {width: 20%;}
.table_list ul.list > li label {font-weight: 500; color: #111;}
.table_list ul.list > li:nth-child(odd) {background: #f7f7f7;}
.table_list ul.list > li:nth-child(even) {flex: 1;}
.table_list ul.list > li:last-child {border-right: 0;}
.table_list ul.list > li .btn-line {flex: none;}
.table_list ul.list > li ul.add_file {flex: 1;}
.table_list ul.list > li .total {font-weight: 700; color: #222; text-align: right; flex: 1;}

.course_list .item .title { padding-left: 6rem; flex: 1; }
.course_list .item .title h5 span { display: inline-block; vertical-align: middle; }
.course_list .item .title h5 { padding-bottom: .5rem; font-size: 1.75rem; font-weight: 500; }
.course_list .item {position: relative; display: flex; justify-content: space-between; align-items: center; padding: 2rem 0; border-bottom: 1px solid #E9EBF2;}
.course_list .item.step01 {background: url(../img/class/icon_learn_step1.svg) 6.75rem 50%/ 2.4rem no-repeat}
.course_list .item.step02 {background: url(../img/class/icon_learn_step2.svg) 6.75rem 50%/ 2.4rem no-repeat}
.course_list .item.step03 {background: url(../img/class/icon_learn_step3.svg) 6.75rem 50%/ 2.4rem no-repeat}

.btn-line { display: inline-block; min-width: 10rem; flex: 0 0 49%; max-width: 49%; border: 1px solid #999; background-color: #fff; padding: .7rem 1.5rem; font-size: 1.5rem; position: relative; transition: .25s; }
ul.add_file li { display: flex; justify-content: space-between; }
ul.add_file li::before { display: none; }
ul.add_file li .link .btn-line { font-size: 1.4rem; width: auto; min-width: 10rem; padding: .4rem 2.2rem .4rem 1rem; }

ul.add_file li .file_down:hover { color: #0090d0; }
ul.add_file li .file_down img { margin-right: .5rem; }
ul.add_file li .fileSize { color: #999; font-size: .8em; margin-left: .4rem; }
ul.add_file li ~ li { margin-top: 1rem; }

.vod_content {display: flex;}
.ui.visible.wide.right.sidebar~.pusher {padding-left: 350px;}
.vod_content .ui.sidebar .board_top {padding-bottom: 1rem;}
.ui.sidebar {padding: 2rem 1rem; font-size: 1.5rem; overflow-x: hidden;}
.ui.sidebar .table_list ul.list > li {padding: .75rem;}
.ui.sidebar .learn_top {justify-content: flex-end;}
.ui.sidebar .learn_top ul.right_state li {font-size: 1.35rem;}
.ui.sidebar .course_list .item {padding: .5rem 0; border-bottom: 0; background-position: 0 .75rem !important;}
.ui.sidebar .course_list .item .title {padding: 0;}
.ui.sidebar .course_list .item .title h5 {padding-left: 3rem;}
.ui.sidebar .course_list .item .title .prog_rate ul {margin: 0;}
.ui.sidebar .course_list .item .title .prog_rate ul li {margin-bottom: 0;}
.ui.sidebar .course_list .item .title .prog_rate ul li:last-child {font-size: 1.25rem; justify-content: flex-end;}
.ui.sidebar .course_list .item .title h5 { padding-left: 3rem; }

.vod_wrap {display: flex; flex-direction: column; height: 100vh;}
.vod_header {display: flex; flex-direction: column; box-shadow: 10px 5px 5px rgba(34,36,38,.15); background: #fff;}
.vod_header .top_inner {display: flex; align-items: center; justify-content: space-between; padding: 1rem 0;}
.vod_header .top_inner .title {display: flex; align-items: center; justify-content: center; flex: 1; font-size: 2rem; font-weight: 700;}
.vod_header .top_inner .title button {position: relative; display: inline-flex; align-items: center; justify-content: center; min-width: 3rem; height: 3rem; margin: 0 1rem; color: #fff; border-radius: 100%; background: #C9C9C9; transition: 0.2s;}
.vod_header .top_inner .title button:hover {background: #222;}
.vod_header .top_inner .group_btn {margin-right: 1rem;}

@media (max-width: 767.98px) {
    .vod_header .top_inner .title {font-size: 1.5rem;}
    .vod_header .top_inner .group_btn {display: flex; flex-direction: column;}
    .vod_header .top_inner .group_btn button + button {margin-top: .5rem;}
    .board_top .page_btn button { flex: auto; margin: .25rem; }
}
@media (max-width: 479.98px) {
    .table_list ul.list {flex-direction: column; border-bottom: 0;}
    .table_list ul.list li.head {width: 100%;}
    .table_list ul.list li {padding: .75rem; border-right: 0; border-bottom: 1px solid #e8e8e8;}
    .ui.sidebar .table_list ul.list {flex-direction: row;}
    .ui.sidebar .table_list ul.list li.head {width: 20%;}
    .ui.sidebar .course_list .item .title {margin-top: 0;}
    .ui.visible.wide.right.sidebar~.pusher { padding-left: 0px; }
}



.list_view_box {margin-top: 3rem;}
.list_view_box .list_title {display: flex; justify-content: space-between; align-items: center; margin-top: 3rem;}
.list_view_box .list_title .type {font-size: 1.75rem; font-weight: 500;}
.list_view_box .list_title .type .num {margin-right: .5rem;}
.list_view_box .list_title .score {}
.list_view_box .list_item {margin: 1rem 0; padding: 1.5rem; border-radius: 1rem; background-color: #f3f5f9;}
.list_view_box .list_item .quest {margin-bottom: 1.5rem; font-size: 2rem; font-weight: 700;}
.list_view_box .list_item .field {font-size: 1.75rem;}
.list_view_box .list_item .field .ui.checkbox input.hidden {z-index: -1;}
.list_view_box .list_item .survey {padding-bottom: 2rem; font-size: 2rem; font-weight: 700;}
.list_view_box .list_item .cont_list {}
.list_view_box .list_item .cont_list li {display: flex; align-items: center; justify-content: space-between;}
.list_view_box .list_item .cont_list li + li {margin-top: 1rem;}
.list_view_box .list_item .cont_list li .text {display: flex; align-items: center;}
.list_view_box .list_item .cont_list li .text .circle_num {display: flex; align-items: center; justify-content: center; width: 3rem; height: 3rem; margin-right: .5rem; font-weight: 500; border-radius: 100%; background: #DDE2EE;}
.list_view_box .list_item .cont_list li .progress {display: flex; align-items: center; flex: 0 50%;}
.list_view_box .list_item .cont_list li .progress .inner {height: 1.25rem; border-radius: 3rem; background: #DDE2EE; flex: 1; overflow: hidden;}
.list_view_box .list_item .cont_list li .progress .inner .bar {height: 100%; border-radius: 3rem; background: #0090D0;}
.list_view_box .list_item .cont_list li .progress small {display: inline-block; width: 5rem; font-size: 1.5rem; color: #999; text-align: right;}
.list_view_box .mark_right,
.list_view_box .mark_wrong {position: relative;}
.list_view_box .mark_right:after {position: absolute; display: inline-block; font-size: 8rem; font-family: xeicon; color: #DE3232; content: "\e9c6"; transform: translate(0, -50%); top: 50%; left: 0;}
.list_view_box .mark_wrong:after {position: absolute; display: inline-block; font-size: 8rem; font-family: xeicon; color: #DE3232; content: "\e921"; transform: translate(0, -50%); top: 50%; left: 0;}
.list_view_box .list_item ul.feedback {display: flex; margin: 1.5rem -1.5rem  -1.5rem  -1.5rem; padding: 1rem 1.5rem; border-bottom-left-radius: .75rem; border-bottom-right-radius: .75rem; background: #DDE2EE;}
.list_view_box .list_item ul.feedback li {margin-right: 4rem; color: #777;}
.list_view_box .list_item ul.feedback li:last-child {margin-right: 0;}
.list_view_box .list_item ul.feedback li strong {margin-right: 1rem; color: #222;}

.list_view_box .list_item ul.quest_write {display: flex; flex-direction: column; margin: 1.5rem -1.5rem  -1.5rem  -1.5rem; padding: 1rem 1.5rem; border-bottom-left-radius: .75rem; border-bottom-right-radius: .75rem; background: #f3f5f9;}
.list_view_box .list_item ul.quest_write li + li {margin-top: 1rem;}
.list_view_box .list_item .choice { width: 100% !important; flex: 0 0 100% !important; }
.list_view_box .list_item .field .ui.checkbox label.choice {padding: .4rem 0 .4rem 4.5rem;}

.list_view_box .list_item {counter-reset: index;}
.list_view_box .list_item .field .ui.checkbox label {padding: 1rem 0 1rem 4.5rem;}
.list_view_box .list_item .field .ui.checkbox label:before {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 3.5rem; height: 3.5rem; line-height: 3rem; text-align: center; border-radius: 100%; border: 3px solid #dadada; background: #fff; counter-increment: index; content: counter(index);}
.list_view_box .list_item .field .ui.checkbox label:after {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); text-align: center;}
.list_view_box .list_item .field .ui.checkbox input:checked ~ label:after {width: 3.5rem; height: 3.5rem; font-family: xeicon; color: #fff !important; line-height: 3.25rem; border: 3px solid #222; border-radius: 100%; background: #222; content: "\e928";}


/* Selectable Label */
.list_view_box .list_item .field .ui.checkbox input.hidden + label { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.ui.checkbox { position: relative; display: flex; -webkit-backface-visibility: hidden; backface-visibility: hidden; outline: none; }
/* HTML Checkbox */
.ui.checkbox input[type="checkbox"], .ui.checkbox input[type="radio"] { cursor: pointer; position: absolute; top: 0px; left: 0px; opacity: 0 !important; outline: none; z-index: 3; width: 17px; height: 17px; }

.enter_box { text-align: center; }

.btns { display: flex; justify-content: center; }
.mt30 { margin-top: 3rem !important; }
.player_area .btn { padding: .8rem 1.5rem; font-size: 1.5rem; line-height: 1.4285; border-radius: .4rem; border: 1px solid #ddd; background-color: #fff; }
.btn.gray2, .btn3.gray2 { background: #4D4D4D; color: #fff; border-color: #4D4D4D; }
.btn.gray2:hover { background: #343434; border: 1px solid #343434; }
.btns .btn { min-width: 12rem; padding: 1.3rem 1.5rem; }
.player_area .btn ~ .btn { margin-left: 1rem; }
.attach_area .btn { display: inline-block; }

/* 240528 학습창 추가 */
.vod_content .pusher .flowplayer {max-width: 100% !important; margin-bottom: 7.2rem;}
.vod_content .pusher { display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1; background: #333 !important; }
.vod_content .pusher .vod_btnArea { position: fixed; left: 0; bottom:0; display: flex; justify-content: center; width: 100%; padding: 1.6rem 2rem; background-color: #636363; box-shadow: 0 0 1.6rem rgba(0, 0, 0, .16);}
.vod_content .pusher .num_page {display: inline-block; font-size: 2rem; color: #ffd565; margin-left: 1rem; padding: 0 2rem;}
.vod_content .pusher .vod_btnArea .btn { display: inline-block; border-radius: 2.5rem;}
.vod_content .pusher .vod_btnArea .btn i[class*="left"] { display: inline-block; margin-right: 0.7rem; }
.vod_content .pusher .vod_btnArea .btn i[class*="right"] { display: inline-block; margin-left: 0.7rem; }
.player_area {width: 100%; margin-bottom: 7.2rem; margin-top: .1rem; overflow-y: auto !important;}
.player_area .player_html {display: flex; /* align-items: center;*/ background-color: #018FD1; padding: 1.5rem; width: 100%; max-width: 1280px; min-height: 720px; margin: 0 auto; }
.player_area .player_html .player_con {width: 100%;}
.player_area .player_html .player_bg_box {background-color: #fff; display: flex; flex: 1; width: 100%; border-radius: 4rem; padding: 4rem 8rem;}
.player_area .player_html.intro {background-color:#fff;}
.player_area .player_html.intro .player_bg_box {background-color: transparent; border-radius: 0rem; padding: 0rem 6rem;}
.player_area .player_html.finish {background-color:#fff;}
.player_area .player_html.finish .player_bg_box {background-color: transparent; border-radius: 0rem; padding: 0rem 6rem;}
.player_area .player_html.quiz {align-items: normal;}
.player_area .quizStyle {border-radius: 100em; padding: 1.8rem 4rem !important; color: #fff; background: linear-gradient(145deg, rgba(86, 174, 214, 1) 0%, rgba(0, 144, 208, 1) 100%); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13); transition: all .4s;}
.player_area .quizStyle:hover { border: 1px solid #ddd; background: linear-gradient(145deg, rgba(0, 144, 208, 1) 0%, rgb(28, 111, 150) 100%);}
.player_area .player_img {margin: 0 auto; text-align: center;}
.ui.visible.wide.right.sidebar~.pusher .vod_btnArea {left: auto;}
.player_area.scroll-no {overflow-y: hidden !important;}
.flowplayer {background-size: contain !important;}
.mo_quiz_result { width: calc(100% - 10px); margin: 1rem auto; padding: 1rem 1rem 2rem 1rem; border-radius: 2rem; text-align: center; font-weight: 500; color: #0090D0; background: #fff; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13); }
.mo_quiz_result .lottie_motion { width: 100%; height: 160px; }
.quiz_result_txt {padding: .5rem 0; color: #000; font-size: 2.4rem; font-weight: 700;}
.quiz_result_txt .desc_result {font-size: 1.6rem; color: #666; font-weight: 500;}

.player_area .btns_select {display: flex; justify-content: space-around;}


@media (max-width: 1279.98px) {
    .player_area .player_html { min-height:auto;}
    
}
@media (max-width: 1023.98px) {
    .player_area .player_html .player_bg_box {padding: 4rem 5rem;}
    .player_area .player_html.intro .player_bg_box {padding: 0rem 5rem;}
    .player_area .player_html.finish .player_bg_box {padding: 0rem 5rem;}
}
@media (max-width: 767.98px) {
    .player_area .player_html .player_bg_box {padding: 3rem 4rem; border-radius: 3rem;}
    .player_area .player_html.intro .player_bg_box {padding: 0rem 3rem;}
    .player_area .player_html.finish .player_bg_box {padding: 0rem 3rem;}
}
@media all and (max-width:600px) {
    .vod_content .pusher .vod_btnArea .btn { min-width: 7rem; font-size: 1.3rem; }
}
@media (max-width: 480px) {
    .player_area .player_html .player_bg_box {padding: 2rem 3rem; border-radius: 2rem;}
    .player_area .player_html.intro .player_bg_box {padding: 0rem .5rem;}
    .player_area .player_html.finish .player_bg_box {padding: 0rem .5rem;}
    .vod_content .pusher .vod_btnArea {padding: 1.2rem 1.6rem;}
    .vod_content .pusher .num_page {font-size: 1.6rem; padding: 0 1rem;}
}


/* =======================================================================================
class player content
======================================================================================= */
/* 과정소개 */
.con_title {margin-bottom: 1.8rem; font-family: 'gmarket'; font-size: 8rem; font-weight: bold; color: #333; word-break: keep-all;}
.con_text {display: flex; margin-bottom: 3.5rem;}
.con_text .in_text {position: relative; word-break: keep-all; font-weight: 600; font-size: 3.3rem; color: #333; z-index: 4;}
.con_text .in_img_right {margin-left: 5rem;}
.point_txt {color: #0090D0;}
.point_line {position: relative; display: inline-block; z-index: 4;}
.point_line::before { content: ""; position: absolute; bottom: 5px; left: 0; width: 100%; border-bottom: 10px solid #92E5FF; z-index: -1; }
.con_img img {max-width: 100% !important; }

/* 인트로 */
.intro-area {position: relative; margin-top: 2rem;}
.player_html.intro .player_con {position: relative; font-family: 'gmarket'; width: 100%;}
.player_html.intro .player_con .logo_area {position: relative; text-align: right;}
.player_html.intro .player_con .con_title {margin-top: 1rem; margin-bottom: 2.2rem; font-family: 'gmarket'; font-size: 9rem; line-height: 1.2; font-weight: bold; color: #333;}
.player_html.intro .player_con .chasi_box {margin-bottom: 2.8rem; padding:3rem 4rem; background-color: #fff; border-radius: 2rem; max-width: 60rem; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);}
.player_html.intro .player_con .chasi_num { display: inline-flex; margin-bottom: 2rem; flex-direction: row; justify-content: center; align-items: center; padding: 1rem 3.5rem .4rem 3.5rem; background: #222; border-radius: 100em; font-family: gmarket, sans-serif; font-weight: bold; font-size: 3rem; color: #FFFFFF; }
.player_html.intro .player_con .chasi_text {font-size: 5rem; color: #333; font-weight: bold; word-break: keep-all; line-height: 1.2;}
.prof_info {margin-bottom: 1rem;}
.prof_name {font-size: 3.8rem; display: inline-block; margin-right: 3rem;}
.prof_name .big_txt {font-size: 5rem; font-weight: bold;}
.prof_photo { display: inline-block; vertical-align: middle; width: 14rem; height: 14rem; border-radius: 100%; background-color: #fff; overflow: hidden;}
.prof_photo img { border-radius: 100%; }

/* 난이도 선택 */
.con_title2 {margin-bottom: 1.8rem; font-family: 'gmarket'; font-size: 7rem; font-weight: bold; color: #333; word-break: keep-all;}
.con_text .in_text2 { word-break: keep-all; font-weight: 500; font-size: 3.3rem; color: #666; }
.player_area .btns_select {padding: 3rem 0;}
.player_area .btns_select .btnStyle {position: relative;transition: all .4s; width:28% ; display: flex; align-items: center; justify-content: center; height: 18rem; font-size: 3rem; border-radius: 1.5rem; color: #fff; background: linear-gradient(145deg, rgba(86, 174, 214, 1) 0%, rgba(0, 144, 208, 1) 100%); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);}
.player_area .btns_select .btnStyle.colorA {background: linear-gradient(145deg, rgba(86, 174, 214, 1) 0%, rgba(0, 144, 208, 1) 100%);}
.player_area .btns_select .btnStyle.colorB {background: linear-gradient(145deg, rgb(86 131 214) 0%, rgb(0 65 208) 100%);} 
.player_area .btns_select .btnStyle.colorC {background: linear-gradient(145deg, rgb(103 96 219) 0%, rgb(46 36 146) 100%);}
.player_area .btns_select .btnStyle:hover {border: 1px solid #ddd; transform: translateY(-1rem); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);}
.player_area .btns_select i {margin-right: .8rem;}

/* 학습마무리 */
.finish-area {position: relative; margin-top: 2rem;}
.player_html.finish .player_con .logo_area img {height: 3rem;}
.player_html.finish .player_con {position: relative; font-family: 'gmarket'; width: 100%;}
.player_html.finish .player_con .logo_area {position: relative; text-align: right;}
.player_html.finish .player_con .chasi_box {margin-bottom: 2.8rem; padding:3rem 4rem; background-color: #fff; border-radius: 2rem; max-width: 60rem; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);}
.player_html.finish .player_con .chasi_text {font-size: 4rem; color: #333; font-weight: bold; word-break: keep-all; line-height: 1.2;}
.summary_chasi {position: absolute; right:0; top:5rem; display: inline-flex; flex-direction: column; font-family: "Pretendard", "Noto Sans KR"; color: #fff; border-radius: 1.5rem; padding: 2rem 4.5rem 1.4rem; background-color: #5c5c5c; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);}
.summary_chasi span::after { content: ""; display: inline-block; vertical-align: middle; width: 1px; height: 13px; margin: -1px 0 0 8px; background: rgba(255, 255, 255, .5); }
.summary_chasi h6 {font-family: 'gmarket'; font-size: 3rem; line-height: 1.1;}
.summary_chasi .info {font-size: 2.2rem; line-height: 1.1;}
.summary_text {font-family: "Pretendard", "Noto Sans KR";}
.summary_text li ~ li {margin-top: 1rem;}
.summary_text li .tit {font-size: 3.5rem; font-weight: 700;}
.summary_text li .desc {font-size: 2.5rem; color: #666; font-weight: 600; margin-left: 1.5rem;}

/* 아웃트로 */
.outro-area {position: relative; margin-top: 2rem;}
.outro-area .con_subtitle { margin-top: 3rem; margin-bottom: 1.2rem; font-family: 'gmarket'; font-size: 5rem; line-height: 1.2; font-weight: bold; color: #333; }
.player_html.intro .player_con .outro-area .con_title {font-size: 12rem; line-height: 1.1;}
.player_html.intro .player_con .outro-area .chasi_num { padding: 1rem 3.5rem .4rem 3.5rem; font-size: 2.6rem; color: #FFFFFF; }
.player_html.intro .player_con .outro-area .chasi_text {font-size: 3.8rem; line-height: 1.1;}
.player_html.intro .player_con .outro-area .chasi_box { padding: 2.5rem 3.5rem;}
.player_html.intro .player_con .outro-area .con_title .prof_name {color: #666; font-weight: 500;}
.player_html.intro .player_con .outro-area .con_title .prof_name .big_txt {font-weight: 500;}
.outro-area .page_info {font-size: 2rem; background-color: #222; color: #fff; padding: 1rem 2rem; text-align: right;}

/* 과제 */
.con_title3 {margin-bottom: 1.8rem; font-family: 'gmarket'; font-size: 6rem; font-weight: bold; color: #333; word-break: keep-all;}
.segment.task { margin-bottom: 0; padding: 0; }
.segment.task .tstyle {background: #fff;}
.mo_task_result { width: calc(100% - 10px); margin: 1rem auto; padding: 4rem 1rem 4rem 1rem; border-radius: 2rem; text-align: center; font-weight: 500; color: #0090D0; background: #fff; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13); }
.mo_task_result .lottie_motion { width: 100%; height: 160px; }
.task_result_txt {padding: .5rem 0; color: #000; font-size: 2.4rem; font-weight: 700;}

div.tstyle { text-align: left; }
div.tstyle .dbody > li .row { min-height: 3.8rem; align-items: center; margin-left: 0; margin-right: 0; }
.tstyle .dbody tr, .tstyle .dbody > li { border-bottom: 1px solid #e8e8e8; }
div.tstyle .dbody > li { padding: 1rem 0; position: relative; }
.tstyle::after, div.tstyle_list::after, .galleryList::after, .list_board::after, .writeForm::after, .listFaq::after { content: ''; width: 100%; height: 1px; background-color: #aaa; position: absolute; bottom: 0; left: 0; }

.attach_area .btn { display: inline-block; }
.attach_area .input_attach:focus + label { outline: 1px dotted #000; }
.attach_area .attach_file ~ .attach_file { margin-top: 1rem; }
.attach_area .attach_file .btn { display: inline-block; }
.attach_area .attach_list { width: 100%; border: 1px solid #d3d8dd; background-color: #f7f9fd; padding: 1rem; margin-top: 1rem; }
.attach_area .attach_list .attach_name { font-size: 1.5rem; margin-left: 1rem; position: relative; padding-right: 2.5rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.attach_area .attach_list .attach_name ~ .attach_name { margin-top: 0.5rem; }
.attach_area .attach_list .attach_close { color: #f2166e; margin-left: 0.5rem; }

@media (max-width: 1279.98px) {
    .con_title {font-size: 6rem;}
    .con_title2 {font-size: 5rem;}
    .con_text .in_text2 {font-size: 2.8rem;}
    .bubble_img {width: 120px;}
    .player_area .btns_select .btnStyle {height:16rem;}
    .con_text .in_text {font-size: 2.4rem;}
    .player_html.intro .player_con .con_title {font-size: 6.5rem;}
    .player_html.intro .player_con .chasi_num {font-size: 2.4rem;}
    .player_html.intro .player_con .chasi_text {font-size: 3.6rem;}
    .prof_name {font-size: 3rem; }
    .prof_name .big_txt {font-size: 3.6rem; }
    .prof_photo { width: 10rem; height: 10rem; }
    .player_html.finish .player_con .con_title {font-size: 6.5rem;}
    .summary_chasi {top:4rem;}
    .summary_chasi h6 {font-size: 2.6rem;}
    .summary_chasi .info {font-size: 1.8rem;}
    .summary_text li .tit {font-size: 3rem;}
    .summary_text li .desc {font-size: 2rem; margin-left: 1.5rem;}

    .outro-area .con_subtitle {font-size: 4.5rem;}
    .player_html.intro .player_con .outro-area .con_title {font-size: 10rem;}
    .player_html.intro .player_con .outro-area .chasi_num {font-size: 2.2rem;}
    .player_html.intro .player_con .outro-area .chasi_text {font-size: 3.2rem;}

    .con_title3 {margin-bottom: 1.5rem; font-size: 5rem;}
}

@media (max-width: 1023.98px) {
    .con_title {margin-bottom: 1.5rem; font-size: 5rem; }
    .con_text .in_text {font-size: 2rem;}
    .con_text .in_text br {display: none;}
    .con_title2 {font-size: 4rem;}
    .con_text .in_text2 {font-size: 2.2rem;}
    .bubble_img {width: 100px;}
    .player_area .btns_select {padding: 2rem 0;}
    .player_area .btns_select .btnStyle {height:14rem;}

    /* .player_html.intro .player_con .logo_area {position: relative; text-align: left;} */
    .player_html.intro .player_con .logo_area img {height: 2.4rem;}
    .player_html.intro .player_con .con_title {font-size: 5.5rem;}
    .player_html.intro .player_con .chasi_num {font-size: 2rem;}
    .player_html.intro .player_con .chasi_text {font-size: 3rem;}
    .prof_name {font-size: 2rem; }
    .prof_name .big_txt {font-size: 3rem; }
    .prof_photo { width: 8rem; height: 8rem; }

    .player_html.finish .player_con .con_title {font-size: 5.5rem;}
    .summary_chasi {padding: 1.4rem 3rem 1rem;}
    .summary_chasi h6 {font-size: 2.2rem;}
    .summary_chasi .info {font-size: 1.6rem;}
    .summary_text li .tit {font-size: 2.4rem;}
    .summary_text li .desc {font-size: 1.8rem; margin-left: 1.2rem;}

    .outro-area .con_subtitle { margin-top: 2rem; margin-bottom: .6rem; font-size: 3.8rem;}
    .player_html.intro .player_con .outro-area .con_title {font-size: 8rem;}
    .player_html.intro .player_con .outro-area .chasi_num {font-size: 2rem;}
    .player_html.intro .player_con .outro-area .chasi_text {font-size: 3rem;}

    .con_title3 {margin-bottom: 1rem; font-size: 4rem;}
}


@media (max-width: 767.98px) {
    .con_title {font-size: 3.4rem;}
    .star_img {width: 30px;}
    .con_text .in_text {font-size: 1.8rem;}
    .con_text .in_img_right {display: none;}
    .con_title2 {font-size: 3rem;}
    .con_text .in_text2 {font-size: 2rem;}
    .bubble_img {width: 80px;}
    .player_area .btns_select {padding: 1rem 0;}
    .player_area .btns_select .btnStyle {height: 12rem; font-size: 2rem;}

    .player_html.intro .player_con .logo_area {position: relative; text-align: left;}
    .player_html.intro .player_con .logo_area img {height: 2rem;}
    .player_html.intro .player_con .chasi_box {padding:2rem 3rem; }
    .player_html.intro .player_con .con_title {font-size: 4rem;}
    .player_html.intro .player_con .chasi_num {margin-bottom: 1.6rem; font-size: 1.6rem; padding: .6rem 2rem .2rem 2rem;}
    .player_html.intro .player_con .chasi_text {font-size: 2rem;}
    .prof_info {margin-bottom: .6rem;}
    .prof_name {font-size: 1.6rem; }
    .prof_name .big_txt {font-size: 2rem; }
    .prof_photo { width: 6rem; height: 6rem; }

    .player_html.finish .player_con .logo_area {position: relative; text-align: left;}
    .player_html.finish .player_con .logo_area img {height: 2rem;}
    .player_html.finish .player_con .con_title {font-size: 4rem;}
    .player_html.finish .player_con .chasi_box {padding: 2rem 3rem;}
    .summary_chasi {position: relative; top:-1rem; padding: 1.2rem 2.5rem .8rem;}
    .summary_chasi h6 {font-size: 1.8rem; line-height: 1.2;}
    .summary_chasi .info {font-size: 1.4rem; line-height: 1.2;}
    .summary_text li .tit {font-size: 2rem;}
    .summary_text li .desc {font-size: 1.6rem; margin-left: 1.2rem;}

    .outro-area .con_subtitle { margin-top: 2rem; margin-bottom: .6rem; font-size: 3rem;}
    .player_html.intro .player_con .outro-area .con_title {font-size: 7rem;}
    .player_html.intro .player_con .outro-area .chasi_box { padding: 2rem 3rem;}
    .player_html.intro .player_con .outro-area .chasi_num {font-size: 1.6rem; padding: .6rem 2rem .2rem 2rem;}
    .player_html.intro .player_con .outro-area .chasi_text {font-size: 2.4rem;}
    .outro-area .page_info { font-size: 1.6rem; }

    .con_title3 {font-size: 3.4rem;}
    .task_result_txt {font-size: 2rem;}
    
}
@media (max-width: 480px) {
    .con_title {margin-bottom: 1rem; font-size: 2.8rem;}
    .star_img {width: 20px;}
    .con_text .in_text {font-size: 1.6rem;}
    .con_title2 {font-size: 2.4rem;}
    .con_text .in_text2 {font-size: 1.6rem;}
    .bubble_img {width: 60px;}

    .player_area .btns_select .btnStyle {width:30%; height: 9rem; font-size: 1.8rem; flex-direction: column;}
    .player_area .btns_select .btnStyle i {margin-right: 0; margin-bottom: .5rem;}

    .player_html.intro .player_con .chasi_box {padding:1.5rem 2rem;}
    .player_html.intro .player_con .con_title {font-size: 3rem;}
    .player_html.intro .player_con .chasi_num {font-size: 1.4rem;}
    .player_html.intro .player_con .chasi_text {font-size: 1.8rem;}

    .player_html.finish .player_con .con_title {font-size: 3rem;}
    .summary_chasi {display: flex; text-align: center;}
    .summary_chasi h6 {font-size: 1.6rem; line-height: 1.2;}
    .summary_chasi .info {font-size: 1.4rem; line-height: 1.2;}
    .summary_text li .tit {font-size: 1.8rem;}
    .summary_text li .desc {font-size: 1.5rem; margin-left: 1.2rem;}
    .summary_text li ~ li { margin-top: .5rem; }

    .outro-area .con_subtitle { margin-top: 2rem; font-size: 2.6rem;}
    .player_html.intro .player_con .outro-area .con_title {font-size: 6rem;}
    .player_html.intro .player_con .outro-area .chasi_box { padding:1.5rem 2rem;}
    .player_html.intro .player_con .outro-area .chasi_num {font-size: 1.4rem;}
    .player_html.intro .player_con .outro-area .chasi_text {font-size: 1.8rem;}
    .outro-area .page_info { font-size: 1.4rem; }

    .con_title3 {font-size: 2.4rem;}
}